@import "./theme.css";

*{
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-size: 16px;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial;
}

a{
  color: inherit;
  text-decoration: none;
}

/* Sticky footer layout */
.app-root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content{
  flex: 1;
  display: block;
}